/* Apply some global styles */
* {
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: sans-serif;
}
/* Style the body */
body {
background-color: #f5f5f5;
color: #333;
padding: 0;
margin: 0;
font-size: 1rem;
height: 100%;
display: flex;
flex-direction: column;
}

/* Style the header */
header {
background-color: #007bff;
color: #fff;
padding: 1rem;
text-align: center;
box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

header h1 {
font-size: 2.5rem;
margin-bottom: 0.5rem;
text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}

header ul {
list-style: none;
margin: 0;
padding: 0;
}

header li {
display: inline-block;
margin-right: 1rem;
font-size: 1.25rem;
}

/* Style the headings */
h2, h3 {
margin-bottom: 1rem;
}

h2 {
font-size: 2rem;
}

h3 {
font-size: 1.5rem;
}

/* Style the links */
a {
color: #333;
text-decoration: none;
transition: all 0.3s ease-in-out;
box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

a:hover {
color: #007bff;
text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
}

/* Style the list */
ul {
list-style: none;
margin-bottom: 1rem;
}

li {
margin-bottom: 0.5rem;
}

/* Style the divs */
#content {
background-color: #fff;
padding: 1.5rem;
margin-bottom: 2rem;
box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
border-radius: 0.25rem;
flex-grow: 1;
overflow-y: auto;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
}

.exercise-group {
flex-basis: calc(33.33% - 1rem);
margin-bottom: 1rem;
background-color: #fff;
padding: 1.5rem;
box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
border-radius: 0.25rem;
text-align: center;
}

/* Style the Github link */
#github {
  background-color: #fff;
  padding: 1.5rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
  width: 100%;
  position: relative;
  }
  
  #github img {
  height: 50px;
  width: 50px;
  margin-bottom: 1rem;
  }
  
  #github a {
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  
  #github a span {
  margin-top: 0.5rem;
  line-height: 0.1;
  }